/* Card.css */

:root {
  --gap-size: 70px;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  gap: var(--gap-size);
  padding: 0.5rem 3.5rem; /* Mencegah pemisahan baris pada konten */
}

.card-titles {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5; /* Set background color to white */
}

.card-img-top {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: black;
}

.card-job {
  color: #797979;
  font-size: 16px;
}

.job-line {
  width: 250px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  margin-top: 50px;
}

.view-link {
  color: black; /* Change color as needed */
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-link i {
  margin-left: 5px; /* Adjust spacing as needed */
}


@media (max-width: 768px) {
  .card-container {
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
  }

  .card-titles {
    font-size: 20px;
  }
  

  .card {
    width: 110px; 
    height: 150px;
    margin: 0 5px;
  }

  .card-img-top {
    width: 50px; /* Atur ulang ukuran gambar untuk perangkat berukuran kecil */
    height: 50px;
  }

  .card-title {
    font-size: 13px;
  }

  .card-job {
    font-size: 12px;
  }

  .job-line{
    width: 110px;
    margin-top: 15px;
  }

  .view-link {
    font-size: 11px;
  }
}
